@media screen and (max-width: 1299px) {

  .menu-projects {
    display: none;
  }

  .projects-title {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #e3b873;
  }

  .img-mobile-none {
    display: none;
    width: 100%;
  }
  .img-desktop-none {
    display: block;
    width: 100%;
  }

  .container-projects-info {
    flex-direction: column;
  }

  .about-projects {
    width: 100%;
    text-align: center;
    padding: 0 25px;
  }

  .compl-projects {
    padding: 0;
  }

  .projects-title {
    margin-top: 22px;
  }

  .text-mobile-none {
    display: none;
  }

  .text-desktop-none {
    display: block;
    font-size: 14px;
  }

  .projects-paragraf {
    margin-bottom: 36px;
  }

  .detail-navigation-con {
    display: none;
  }

  .detail-nav-mb-right {
    display: inline-block;
    background-image: url("../images/button-rightmb.svg");
    border-radius: 50%;
    width: 66px;
    height: 66px;
    background-color: #e3b873;
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: center;
  }

  .detail-nav-mb-left {
    display: inline-block;
    background-image: url("../images/button-leftmb.svg");
    border-radius: 50%;
    width: 66px;
    height: 66px;
    background-color: #e3b873;
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: center;
  }

  .detail-nav-con-mb {
    position: absolute;
    width: 100%;
    justify-content: space-between;
    display: flex;
    top: 50%;
    padding: 0 20px;
    margin-top: -33px;
  }

  .detail-menu-mb {
    position: relative;
  }

  .detail-button {
    width: 66px;
    height: 66px;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: center;
    transition: all 0.3s ease;
  }

  .detail-button:hover {
    background-color: #e3b873;
  }

  .image-mobile .image {
    background-size: cover;
    opacity: 0;
    transition: opacity 800ms ease;
  }

  .image-mobile .image.active {
    opacity: 1;
  }
}